*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.first{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(background.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;

}
.second{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(background.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.third{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(background.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.fourth{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(background.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.navbar{
    display: flex;
    padding: 40px 120px;
}
.navlinks{
    flex: 1;
}
.navlinks ul{
    margin-left: 10px;
    display: inline;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.navlinks ul a{
    color: #f2af58;
    text-decoration: none;
    font-size: 17px;
}
.navlinks ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color:#bbff9c;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.navlinks ul li:hover::after{
    width: 100%;
}
.btn{
    padding: 10px 20px;
    border: 0;
    background: #bbff9c;
    font-weight: bold;
    cursor: pointer;
}
.navlinks .btn{
    float: right;
}
.banner {
    margin: 80px 129px;
    color: #bbff9c;
}
.banner h1{
    font-size: 64px;
    margin-bottom: 30px;
}
.banner h1 span{
    color: #f2af58
}
.vertical-bar{
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-y: hidden;

}
.search-icon{
    height: 60%;
    width: 80px;
}
.search-icon .fa{
    margin: 45px 23px;
    display: block;
    color: #f2af58;
    font-size: 30px;
    cursor: pointer;
}
.social-icons{
    height: 35%;
    width: 80px;
    background: #f2af58;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}
.social-icons .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
}
section {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(background.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: #f2af58;
  border-radius: 8px;
  margin-bottom: 20px;


}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;

}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: rgb(27, 166, 247);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}



.rev-section{
  margin: auto;
  padding: 0 1rem;
  max-width: 1100px;
  text-align: center;
}

.title{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #f2af58;
  margin-bottom: .5rem;
}
.note{
  font-size: 1.1rem;
  color: rgb(150, 150, 150);
  font-style: italic;
  color: #bbff9c;
  font

}

.reviews{
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.review{
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;
}

.head-review{
  margin: 1.75rem auto;
  width: 150px;
  height: 150px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

.body-review{
  background-color: #f2af58;
  padding: 2.5rem;
  box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}
.name-review{
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: .25rem;
}
.place-review{
  color: red;
  font-style: italic;
}
.rating{
  color: rgb(253, 180, 42);
  margin: 1rem 0;
}
.desc-review{
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: black;
}
.navbar .fa{
  display: none;
}

@media (max-width: 678px){
  .review{
    margin-top: 1.5rem;
  }
}
.searchicon{
    height: 60%;
    width: 80px;
}
.searchicon .fa{
    margin: 45px 23px;
    display: block;
    color: #f2af58;
    font-size: 30px;
    cursor: pointer;
}
.socialicons{
    height: 35%;
    width: 80px;
    background: #f2af58;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}
.socialicons .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.menu {
    border: 1px solid #f2af58;
    background: black;
    padding-left: 0px;
    margin: auto;
    height: 2000px;
    width: 1250px;
}

.breakfastMenuSubContainer{
    float:left;
    padding-bottom: 50px;
    width: 600px;

}

.lunchMenuSubContainer {
  float:right;
  width: 600px;
  
}
.menuHeading {
    padding-top: 30px;
    color: #d26c13;
    text-align: center;
    margin-bottom: 25px;
}

.menuItemsContainer{
    padding-left: 100px;
    font-size: 200%;
}

.ssMenuSubContainer{
  width: 600px;
}

.spicesMenuSubContainer {
  float:right;
  width: 600px;
}
li{
  padding-bottom: 15px;
  line-height: 1.5;
  color: orange;
}